body {
  padding-top: 50px;
  padding-left: 50px;
}
#content {
  width: 600px;
  height: 400px;
  background-color: #EFE;
}
.bubble {
  display: inline-block;
  fill: tomato;
  fill-opacity: 0.5;
  stroke: black;
  stroke-weight: 1px;
}