body {
  padding: 5rem;
  margin: 0 auto;
  font: .75rem sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: #000;
}

.x.axis path {
  display: none;
}